<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
  	<br>
    <h1>Search term "<strong th:text="${param.search}"></strong>" returns:</h1>
    
    <div th:if="${eventsUpcoming.size()} > 0">	
    <br>
    <h2>Upcoming events</h2>
        <dl th:each="e : ${eventsUpcoming}">
          <dt><a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}"></a></dt>
          <dt th:text="${#temporals.format(e.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}">Event date</dt>
          <dt th:text="${e.time}">Event time</dt>
          <dt th:text="${e.venue.name}">Event venue</dt>
        </dl>
    </div>
    
    <div th:if="${eventsPrevious.size()} > 0">	
    <br>
    <h2>Previous events</h2>
        <dl th:each="e : ${eventsPrevious}">
          <dt><a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}"></a></dt>
          <dt th:text="${#temporals.format(e.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}">Event date</dt>
          <dt th:text="${e.time}">Event time</dt>
          <dt th:text="${e.venue.name}">Event venue</dt>
        </dl>      
    </div>
    
    <div th:if="${eventsUpcoming.size()} == 0">	
    	 <div th:if="${eventsPrevious.size()} == 0">
    	 <h3>There are no results found for your search.</h3>
    	 </div>
    </div>
    
    <a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
  </div>

</body>
</html>