<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<head>
  <title>All events</title>
</head>
<body>
  <div layout:fragment="content">
    <h1><u>Search results for:</u> <strong th:text="${param.search}"></strong></h1>
    
    <br><br>
    <h2>Upcoming events</h2>
    <table class="table table-striped table-hover">
      <thead>
      <br>
        <tr>
          <th><i class="fas fa-bolt"></i>Event</th>
          <th><i class="fas fa-map-marker-alt"></i>Venue</th>
          <th><i class="fas fa-calendar"></i>Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${eventsUpcoming}">
          <td >
          <a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}">
          </td>
          <td th:text="${e.venue.name}">Event venue</td>
          <td th:text="${#temporals.format(e.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>
    
    <br><br>
    
    <h2>Previous events</h2>
    <table class="table table-striped table-hover">
      <thead>
      <br>
        <tr>
          <th><i class="fas fa-bolt"></i>Event</th>
          <th><i class="fas fa-map-marker-alt"></i>Venue</th>
          <th><i class="fas fa-calendar"></i>Date</th>
          <th><i class="fas fa-clock"></i> Time</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="e : ${eventsPrevious}">
          <td >
          <a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}">
          </td>
          <td th:text="${e.venue.name}">Event venue</td>
          <td th:text="${#temporals.format(e.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}">Event date</td>
          <td th:text="${{e.time}}">Event time</td>
        </tr>
      </tbody>
    </table>
    
    <a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a>
  </div>

</body>
</html>