<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Event Description</title>
<script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
<style>
		#map { width: 100%; height:600px;}

		.L.mapbox-popup {
		  max-width: 200px;
		}
		
		.L.mapbox-popup-content {
		  text-align: center;
		  font-family: 'Open Sans', sans-serif;
		}
</style>
  
</head>
<body>

	
  <div layout:fragment="content">
    
    <div class="container">
    	
    	
	    <br><h1 th:text="${event.name}"></h1><br> 
	  
	  	<lable><u><strong>Date of Event:</strong></u></lable>   	
	    <p th:text="${#temporals.format(event?.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}"></p>
	    
	    <div th:if="${event.time} != null">	
	    	<lable><u><strong>Time of Event:</strong></u></lable>
	    	<p th:text="${event.time}"> Time</p>
	    </div> 
	    	
	    <div th:if="${event.venue} != null">	
		    <label><u><strong>Location:</strong></u></label>
		    <p> <a th:href="@{/venues/{id}(id=${event.venue.id})}" th:text="${event.venue.name}"></a></p>
	    </div> 
	    
	    <div th:if="${event.description != '' and event.description != null}">
	   		<lable><u><strong>Event Description:</strong></u></lable>
	    	<p th:text="${event.description}">No Description</p>
		</div>
		 
		 <br>

	  
	 	<table>
	     <td><a class="btn btn-primary" role="button" th:href="@{/events}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a></td>
	    
	     <div sec:authorize="hasAnyRole('ORGANISER', 'ADMINISTRATOR')">
		         <td><a class="btn btn-success" role="button" th:href="@{/events/{id}/update(id=${event.id})}"><i class="fas fa-edit"></i> Update</a></td>
		 </div>
	     </table>
	     <br>
	 </div>
     
     
     <!--Handling tweets-->
     <div class="container">
	    <div class="alert alert-success alert-dismissible" role="alert" th:if="${tweet}">
	  	<button class="close" data-dismiss="alert" aria-label="Close"><i class="fas fa-times" aria-hidden="true"></i></button>
	  	<span th:utext="'Your tweet &lt;strong&gt;' + ${tweet} + ' &lt;/strong&gt; posted.'"></span>
	  </div>
	  
	   <div class="alert alert-danger alert-dismissible" role="alert" th:if="${fail}">
	  	<button class="close" data-dismiss="alert" aria-label="Close"><i class="fas fa-times" aria-hidden="true"></i></button>
	  	<span th:utext="'&lt;strong&gt;' + ${fail} + ' &lt;/strong&gt;'"></span>
	  </div>
	  
     <label><strong>Share the event!</strong></label>
     	<form th:name="form1" th:action="@{'/events/'+${event.id} + '/tweet?=' + ${tweet}}" th:method="post">
			  <input type="text" class="form-control" name="tweet" th:value="${event.name}"><br>
			  <button type="submit"><i>Send Tweet</i></button>
		</form>
		
     <br>
     <div sec:authorize="hasAnyRole('ORGANISER', 'ADMINISTRATOR')">
	 <form th:action = "@{/events/{id}(id=${event.id})}" th:method="delete">
	      <button class="btn btn-danger" type="submit" th:name="id" th:value="${event.id}"> <i class="fa fa-trash-alt" aria-hidden="true"></i>
	      Delete Event
	      </button>
	 </form>
	 <br>
	 </div>
	 <div id="mapContainer"><div id="map"></div></div><br>
  </div>

	<script layout:fragment="maps"  th:inline="javascript" th:if="${event.venue} != null">
	/*<![CDATA[*/
		var longitude = /*[[${event.venue.longitude}]]*/ ;
		var latitude = /*[[${event.venue.latitude}]]*/ ;
		
		if(longitude != 0 && latitude != 0){
			L.mapbox.accessToken = 'pk.eyJ1IjoiZXZlbnRsaXRlZjEiLCJhIjoiY2tta3hjb3VmMDduMzJ4cnpxdDVwa2M0eSJ9.Qn8ih-E9sJje_-XZw9gbEQ';
			var map = L.mapbox.map('map')
	    		.addLayer(L.mapbox.styleLayer('mapbox://styles/mapbox/streets-v11'))
	    		.setView([latitude, longitude],15);
	 
			// Create a default Marker and add it to the map.
			// L.marker([latitude, longitude]).addTo(map);
			
			var marker = L.marker([latitude, longitude])
			.addTo(map);
			
			var name = /*[[${event.name}]]*/
			var time = /*[[${event.time}]]*/
			
			var popupContent = name + "<br>Starts at " + time.slice(0, -3);
		    marker.bindPopup(popupContent);
		    
		}else{
			document.getElementById('map').style.display = 'none';
			document.getElementById('mapContainer').innerHTML = 'This event has no physical location';
		}
	
	/*]]>*/
	</script>
</body>
</html>