<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<body>
  <div layout:fragment="content">
	<h1>Update Event</h1>
	<form th:action="@{/events/{id}/edit(id=${event.id})}" th:method="post">
		<label for="event-name"><u><strong>Name</u></strong></label>
		<input type="text" class="form-control" id="event-name" name="name" th:value="${event.name}"><br>
		
		<label for="event-venue"><u><strong>Venue</u></strong></label>
		
		<select class="form-control" id="event-venue" name="venue.id">
			<option th:each="venue : ${venues}" th:value="${venue.id}" th:text="${venue.name}"></option>
		</select>
		
		<label for="event-date"><u><strong>Date</u></strong></label>
		<input type="date" class="form-control" id="event-date" name="date" th:value="${event.date.toString()}"><br>
		
		<label for="event-time"><u><strong>Time</u></strong></label>
		<input type="time" class="form-control" id="event-time" name="time" th:value="${event.time.toString()}"><br>
		
		<label for="event-description"><u><strong>Description</u></strong></label>
		<input type="description" class="form-control" id="event-description" name="description" th:value="${event.description}"><br>
		
		<button class="btn btn-success" type="submit" th:name="id" th:value="${event.id}"> <i class="fas fa-bookmark" aria-hidden="true"></i>
	      Save changes
	    </button>
	    <a class="btn btn-warning" role="button" href="/events"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
	  
	</form>
  </div>

</body>
</html>