<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	  layout:decorate="~{layouts/default}">
<head>
	<title>Add new venue</title>
</head>

<body>
	<div layout:fragment="content">
		<h1>Add a new venue</h1>
		<form action="#" th:action="@{/venues}" th:object="${venue}" method="post">
			<table>
			<div class="form-group" th:classappend="${#fields.hasErrors('name')}? has-error">
	        <tr><td> <p>Name: </td> <td> <input type="text" id="name" th:field="*{name}" maxlength="255"  /></p> </td>
	        <tr><td></td> <td><p class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">errors</p></td></tr></tr>
	        </div>
	        
	        <tr><td><b>Address</b></td></tr>
	        
	        <div class="form-group" th:classappend="${#fields.hasErrors('road')}? has-error">
	        <tr><td> <p>Road name: </td> <td> <input type="text" id="road" th:field="*{road}" maxlength="299"  /></p> </td>
	        <tr><td></td> <td><p class="text-danger" th:if="${#fields.hasErrors('road')}" th:errors="*{road}">errors</p></td></tr></tr>
	        </div>
	        
	        <div class="form-group" th:classappend="${#fields.hasErrors('postcode')}? has-error">
	        <tr><td> <p>Postcode: </td> <td> <input type="text" id="postcode" th:field="*{postcode}"  /></p> </td>
	        <tr><td></td> <td><p class="text-danger" th:if="${#fields.hasErrors('postcode')}" th:errors="*{postcode}">errors</p></td></tr></tr>
	        </div>
	        
	        <div class="form-group" th:classappend="${#fields.hasErrors('capacity')}? has-error">
	        <tr><td> <p>Capacity: </td> <td> <input type="number" id="capacity" th:field="*{capacity}" min="0"  required/></p> </td>
			<tr><td></td> <td><p class="text-danger" th:if="${#fields.hasErrors('capacity')}" th:errors="*{capacity}">errors</p></td></tr></tr>
	        </div>
	        
	        </table>
	        
	        <button class="btn btn-primary" type="submit"><i class="fas fa-bookmark" aria-hidden="true"></i> Save</button>
		    <a class="btn btn-warning" role="button" href="/venues"><i class="fas fa-ban" aria-hidden="true"></i> Cancel</a>
        </form>
    </div>
</body>
</html>