<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/default}">
<head>
  <title>Venue Description</title>
</head>
<body>
  <div layout:fragment="content">
    
    <br><h1 th:text="${venue.name}"></h1>
   
    <dl>
       <dt th:text="${venue.road}"> Street</dt>
       <dt th:text="${venue.postcode}"> Postcode</dt>
       <dt> Capacity: <strong th:text="${venue.capacity}"></strong></dt>
    </dl>
    
    <div th:if="${eventsUpcoming.size()} > 0">	
    <br>
    <h2>Upcoming events</h2>
        <dl th:each="e : ${eventsUpcoming}">
          <dt><a th:href="@{/events/{id}(id=${e.id})}" th:text="${e.name}"></a></dt>
          <dt th:text="${#temporals.format(e.date, 'dd MMMM yyyy', new java.util.Locale('en', 'EN'))}">Event date</dt>
          <dt th:text="${e.time}">Event time</dt>
          <dt th:text="${e.venue.name}">Event venue</dt>
        </dl>
    </div>
    
    <br>
    
    <table>
  	<td><a class="btn btn-primary" role="button" th:href="@{/venues}">
  	<i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a></td>
  	
  	<div sec:authorize="hasAnyRole('ORGANISER', 'ADMINISTRATOR')">
	     <td><a class="btn btn-success" role="button" th:href="@{/venues/{id}/update(id=${venue.id})}"><i class="fas fa-edit"></i>Update</a></td>
	</div>
	</table>
  
  	<div sec:authorize="hasAnyRole('ORGANISER', 'ADMINISTRATOR')">
  	
  	<div th:if="${venue.events.size()} == 0">	
		 <form th:action = "@{/venues/{num}(num=${venue.id})}" th:method="delete">
		      <button class="btn btn-danger" type="submit"> <i class="fa fa-trash-alt" aria-hidden="true"></i>
		      Delete
		      </button>
		 </form>
		 </div>
	 
	 <div th:if="${venue.events.size()} > 0">
	 	<button class="btn btn-danger" type="button" disabled title="You can't delete occupied venue!"> <i class="fa fa-trash-alt" aria-hidden="true"></i> 
	 	Delete
		</button>
		
		 </div>
	 
	 </div>
     
 	<!-- <table>
     <td><a class="btn btn-primary" role="button" th:href="@{/venues}"><i class="fas fa-arrow-left" aria-hidden="true"></i> Back</a></td>
    
      <div sec:authorize="hasAnyRole('ORGANISER', 'ADMINISTRATOR')">
	         <td><a class="btn btn-success" role="button" th:href="@{/venues/{id}/update(id=${update.id})}"><i class="fas fa-edit"></i> Update</a></td>
	 </div>

   
     </table>
     <br>
     <div sec:authorize="hasAnyRole('ORGANISER', 'ADMINISTRATOR')">
	 <form th:action = "@{/events/{id}(id=${event.id})}" th:method="delete">
	      <button class="btn btn-danger" type="submit" th:name="id" th:value="${event.id}"> <i class="fa fa-trash-alt" aria-hidden="true"></i>
	      Delete
	      </button>
	 </form>
	 </div> -->
  </div>
</body>
</html>